<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
 <display-name>Lumina Library</display-name>
 <session-config><session-timeout>30</session-timeout><cookie-config><http-only>true</http-only></cookie-config><tracking-mode>COOKIE</tracking-mode></session-config>
 <error-page><error-code>404</error-code><location>/WEB-INF/views/not-found.jsp</location></error-page>
 <error-page><error-code>500</error-code><location>/WEB-INF/views/error.jsp</location></error-page>
</web-app>
